
<div style="background-color: black;" >

<div class="header">
  <nav class="nav">
    <ul>
      <li class="nav-link">
        <a aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-link">
        <a routerLink="/productos" routerLinkActive="active">Productos</a>
      </li>
      <li class="nav-link">
        <a routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
      </li>
      <li class="nav-link">
        <a routerLink="/acercade" routerLinkActive="active">acerca de</a>
      </li>

    </ul>
  </nav>
</div>
</div>
