<div style="background-color: black;">
    <div class="logo-container">
        <img src="imagenes/logoVo.png" alt="Logo" width="100" height="100">
        <h1>ouStiles</h1>
    </div>
    
<div class="gallery">
    <span style="--i:1">
        <img src="imagenes/camisetaNegra.jpg" alt="Camiseta Negra">
    </span>
    <span style="--i:2">
        <img src="imagenes/camisaAzul.jpg" alt="Camisa Azul">
    </span>
    <span style="--i:3">
        <img src="imagenes/chaquetaCuero.jpg" alt="Chaqueta de Cuero">
    </span>
    <span style="--i:4">
        <img src="imagenes/PantalonCargo.jpg" alt="Pantalón Cargo">
    </span>
    <span style="--i:5">
        <img src="imagenes/PantalonCargo2.jpg" alt="Pantalón Cargo2">
    </span>
    <span style="--i:6">
        <img src="imagenes/camisetaBlanca.jpg" alt="camisetaBlanca">
    </span>
    <span style="--i:7">
        <img src="imagenes/chaquetaCuero2.jpg" alt="chaquetaCuero2">
    </span>
    <span style="--i:8">
        <img src="imagenes/camisaAzul2.jpg" alt="camisaAzul2">
    </span>
</div>

<div style="text-align: center;">
    <h1 style="color: white;">Nuestros Productos</h1>
    <p style="color: white;"> En VouStiles, ofrecemos una colección de moda que combina la elegancia atemporal con un estilo contemporáneo. Nuestros productos incluyen ropa de alta calidad, desde sofisticadas camisetas y camisas hasta modernas chaquetas y pantalones. Cada pieza está diseñada con atención al detalle y materiales premium, reflejando nuestra pasión por la moda y el compromiso con la excelencia.</p>
</div>
<br>
</div>



  
