<div class="container my-5">
    <!-- Sección de Historia, Misión y Visión -->
    <div class="row">
        <!-- Historia -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Historia</h4>
                </div>
                <div class="card-body">
                    <p>
                        En el corazón de Roma, tres amigos de toda la vida—Marco, Elena y Giovanni—decidieron unir sus talentos para fundar VouStiles, una marca de moda que captura la esencia de la elegancia italiana con un toque moderno. Marco, el diseñador visionario, Elena, la experta en marketing, y Giovanni, el gestor estratégico, combinaron sus habilidades para lanzar una colección que reflejaba su pasión por la moda y su amor por la ciudad. Desde entonces, VouStiles ha crecido y se ha convertido en un símbolo de sofisticación y autenticidad, gracias a la dedicación y creatividad de sus fundadores.
                    </p>
                </div>
            </div>
        </div>

        <!-- Misión -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Misión</h4>
                </div>
                <div class="card-body">
                    <p>
                        En VouStiles, estamos comprometidos con la sostenibilidad y el cuidado del medio ambiente. Ofrecemos soluciones innovadoras y asesoría experta en gestión ambiental, educación y concienciación. Nuestro objetivo es minimizar el impacto ecológico de nuestras operaciones y promover prácticas responsables que garanticen un futuro más verde y saludable para las generaciones venideras. Además, buscamos inspirar a otros a adoptar hábitos sostenibles y colaborar con comunidades para construir un entorno más equilibrado y respetuoso con la naturaleza. Creemos que, mediante acciones conscientes y colaborativas, podemos marcar la diferencia y fomentar un cambio positivo en nuestro planeta.
                    </p>
                </div>
            </div>
        </div>

        <!-- Visión -->
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Visión</h4>
                </div>
                <div class="card-body">
                    <p>
                        "Ser líderes en la protección ambiental y la sostenibilidad, ofreciendo soluciones innovadoras y efectivas que promuevan la preservación de los recursos naturales y mejoren la calidad de vida en nuestras comunidades."
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Ejecutivos -->
    <div class="row">
        <!-- Tarjeta del Ejecutivo 1 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="imagenes/yo.jpg" class="card-img-top" alt="Ejecutivo 1">
                <div class="card-body">
                    <h5 class="card-title">Andrango Fernando</h5>
                    <p class="card-text">Dueño</p>
                    <p class="card-text">El dueño es el propietario y principal responsable de la empresa.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta del Ejecutivo 2 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="imagenes/stalin1.jpg" class="card-img-top" alt="Ejecutivo 2">
                <div class="card-body">
                    <h5 class="card-title">Moposita Stalin</h5>
                    <p class="card-text">Administrador</p>
                    <p class="card-text">El administrador se encarga de coordinar y supervisar las actividades diarias de la empresa. </p>
                </div>
            </div>
        </div>

        <!-- Tarjeta del Ejecutivo 3 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="imagenes/kevin1.jpg" class="card-img-top" alt="Ejecutivo 3">
                <div class="card-body">
                    <h5 class="card-title">Orbea Kevin</h5>
                    <p class="card-text">Ejecutivo </p>
                    <p class="card-text">El ejecutivo es responsable de implementar las estrategias y políticas definidas por la alta dirección.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta del Ejecutivo 5 -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="imagenes/richard.jpg" class="card-img-top" alt="Ejecutivo 3">
                <div class="card-body">
                    <h5 class="card-title">Quinaucho Richard</h5>
                    <p class="card-text">Programador </p>
                    <p class="card-text">Un programador desarrolla y mantiene software mediante la escritura de código. </p>
                </div>
            </div>
        </div>
    </div>
</div>

